article{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 3em;
    padding: 2em;
    background-color:#ff55003a;
    border-radius: 0.2rem;
}

a{
    color:rgb(255, 255, 255);
    font-size: 16px;
}

 p{
    color: rgb(213, 206, 206);
    font-size: 12px;
    align-content: center;   
}

.author{
    color: grey
}
