
body{
  font-family: Arial, Helvetica, sans-serif  ;

  background-color: black;
}

.search-form{
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  display: inline-flex;
}

h1 {
  background: rgb(244, 241, 241);
  color:#f24507ee;
  padding-top: 0.4em;
  padding-left: 3rem;
  margin-top: 1.5em;
}

.input{
  border-radius: 24px;
  border: 0.5px solid #f2460761;
  font-size: 10px;
  padding: 4px 4px;
  margin: 2em;
}

.search-button{
  border: none;
  background: transparent;
}

.refresh{
  height: 24px;
  width: 24px;
  padding: 1em;
  cursor: pointer;
  margin-left: 1em;
  border-radius: 1em;
}
.refresh :active{
  background-color: grey;
}
