
body{
  background-color: rgb(237, 237, 234);

}

.App-header {
  justify-content: center;  
  word-spacing: 0.2em;
  padding: 0.001em;
  font-size: 14px;
  color: 	#FF8b60;
  background-color: rgba(245, 245, 220, 0.678);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  position: relative;
  border-bottom: solid rgba(0, 0, 0, 0.475);
}

aside {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float:right;
  padding: 1em;
  background-color: #cebfaa;
}

aside h2 {
  font-size:larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}