
body{
  background-color: black;
}

.App-header {
  justify-content: center;  
  word-spacing: 0.2em;
  font-size: 14px;
  color: 	#d8450f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  position: relative;
  border-bottom: solid #d0420f89;
}

aside {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float:right;
  padding: 1em;
  background-color: #9185768a;
}

aside h2 {
  font-size:larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#d8450fd9
}